{% extends 'blog/extend.html' %}
{% load staticfiles %}

{% block title %}
        <title>Writer Theme | Category</title>
{% endblock %}
{% block body %}
    <body>
{% endblock %}
{% block content %}
    <main class="container left-container">
        <div class="row">

            {% include 'blog/menu.html' %}

            <section class="sidebar category-sidebar col-md-5 col-sm-12" style=" background-image: url('{{ category.image.url }}');">

                <span class="menu-trigger animated fadeInDown">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>

                <div class="site-info">
                    <div class="primary-info">
                    <h1>{{ category.title }}</h1>
                        <p>A place to share stories, welcome to the campfire.</p>
                    </div>
                </div>

            </section>

            <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">

                <div class="sub-nav">
                    <a href="#" class="select-posts active">Posts</a>
                </div>

                <div class="category-page-posts animated fadeIn ">
                    {% if posts %}
                        {% for post in posts %}
                            <article class="post">
                                <div class="post-preview col-xs-10  no-gutter">
                                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                                    <p>{{ post.summary }} </p>
                                    <p class="meta">
                                        <a href="{% url 'author_detail' pk=post.author.pk %}">{{ post.author.name }} {{ post.author.surname }}</a> in <a href="{% url 'category_detail' pk=post.category.pk %}">{{ post.category.title }}</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ post.minute_read }} minute read
                                    </p>
                                </div>
                                <div class=" col-xs-2  no-gutter">
                                    <img src="{{ post.author.image.url }}" class="user-icon" alt="user-image">
                                </div>
                            </article>
                        {% endfor %}
                    {% else %}
                        <h2>The category has not records yet</h2>
                    {% endif %}

                </div><!-- Category page posts -->
            </section><!-- main content -->
        </div> <!--/row -->
    </main> <!-- /container -->
{% endblock %}
