{% extends 'blog/extend.html' %}
{% load staticfiles %}
{% block title %}
    <title>Writer Theme | Category</title>
{% endblock %}
{% block body %}
    <body>
{% endblock %}
{% block content %}
    <main class="container left-container">
        <div class="row">
            {% include 'blog/menu.html' %}
            <section class="sidebar category-sidebar col-md-5 col-sm-12" style="background-image: url('{% static "img/default-category-sidebar.jpg" %}');">
                <span class="menu-trigger animated fadeInDown">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>
                <div class="site-info">
                    <div class="primary-info">
                    <h1>Categories</h1>
                        <p>Categories page</p>
                    </div>
                </div>
            </section>
            <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">
                <div class="sub-nav">
                    <a>Categories</a>
                </div>
                <div class="all_categories">
                    <div class="category row">
                        <section>
                            {% for category in categories %}
                                <div class="category-preview col-xs-6 col-sm-4 ">
                                    <h2>{{ category.title }}</h2>
                                    <a href="{% url 'category_detail' pk=category.pk %}"><img src="{{ category.image.url }}" alt="category-image"></a>
                                </div>
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </section><!-- main content -->
        </div> <!--/row -->
    </main> <!-- /container -->
{% endblock %}