<div id="menu-target">
    <ul>
        <li><i class="fa fa-home"></i><a href="/">Home</a></li>
        <li><i class="fa fa-user"></i><a href="/authors/adminauthor">Michelle Jones</a></li>
        <li><i class="fa fa-anchor"></i><a href="/page">About</a></li>
        <li><i class="fa fa-star"></i><a href="/favorites">Favorites</a></li>
        <li><i class="fa fa-paper-plane"></i><a href="/contact">Contact</a></li>
    </ul>
    <hr>
    <ul>
        <li><i class="fa fa-file"></i><a href="/posts/adminpost">Post Page</a></li>
        <li><i class="fa fa-file"></i><a href="/post-sidebar">Post with Sidebar</a></li>
        <li><i class="fa fa-home"></i><a href="/alt-home">Alternate Home</a></li>
        <li><i class="fa fa-image"></i><a href="/categories">Categories</a></li>
    </ul>
</div>